<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.title %} {{ page.title }} | {% endif %} tulsaopenwireless.org</title>

    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"> -->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/codesy.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>


  <body>

    <!-- NAVBAR
    ================================================== -->
      <body>
        <div class="navbar-wrapper">
          <div class="container">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">tulsaopenwireless.org</a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="./openwireless.html">Open Wireless Movement</a></li>
                    <li><a href="./how-to.html">How to hare your router</a></li>
                    <li><a href="#contact">Tell us about it</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            {{ content }}

            <!-- FOOTER -->
              <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2014  Code for Tulsa. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
              </footer>

          </div>
        </div>
  
  

        </div><!-- /.container -->
      </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
